@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{

    ViewData["Title"] = "Application Roles";
}

<h1>Application Roles</h1>

<p>
    <button class="btn btn-outline-info">
        <a asp-action="Create" style="color: black;">Create Role</a>
    </button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Model=>Model.Id)</th>
       
            <th>@Html.DisplayNameFor(Model => Model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <button class="btn btn-outline-danger"><a asp-action="Delete" asp-route-id="@item.Id" style="color: black;" >Delete</a></button>
                </td>
            </tr>
        }
      
    </tbody>
</table>

